<launch>
	<node pkg="rosserial_python" type="serial_node.py" name="snailbot_motor_controller" output="screen" respawn="true">
		<param name="~port" value="/dev/ttyACM0" />
		<param name="~baud" value="57600" />
	</node> 
	<!-- ROVER5 STUFF -->
	<node pkg="snailbot_driver" type="snailbot_driver_node" name="snailbot_driver_node" output="screen" respawn="true" />
</launch>
