<launch>
	<!-- JOYSTICK -->
	<node respawn="true" pkg="joy" type="joy_node" name="joy" >
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.05" />
		<param name="~autorepeat_rate" value="25" />
	</node>
	<!-- SNAILBOT STUFF -->
	<node pkg="snailbot" type="joystick_teleop" name="joystick_teleop" output="screen" respawn="true" />
	<!-- VISUALIZATION -->
	<node pkg="rviz" type="rviz" name="rviz" args=" -d $(find snailbot)/rviz/snailbot.rviz" respawn="false" /> 	
</launch>
